# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Assorted MSVC droppings
*.tlog
*.log
*.lastbuildstate
*.pdb
*.sbr
*.manifest
*.pch
*.exp
*.sln.cache
*.res
*.bsc

#AOIA outputs
*.exe
*.bin
README.txt
